<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ArticleMapper">

    <select id="getCountByUid" resultType="java.lang.Integer">
        select count(*) from articleinfo where uid=#{uid}
    </select>

    <select id="getMyList" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo where uid=#{uid}
    </select>

    <select id="getMyDetail" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo where id=#{artId}
    </select>

    <delete id="del">
        delete from articleinfo where id=#{artId} and uid=#{uid}
    </delete>

    <insert id="addArticle" parameterType="com.example.demo.model.ArticleInfo">
        insert into articleinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="uid != null">
                uid,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="uid != null">
                #{uid},
            </if>
        </trim>
    </insert>

    <select id="getAllArticle" resultType="com.example.demo.model.vo.UserInfoVO">
        select * from articleinfo a, userinfo u where a.uid=u.id
    </select>

    <update id="updateRcount">
        update articleinfo set rcount=rcount+1 where id=#{artId}
    </update>

</mapper>